body {
    /*тут всё верно, имей в виду файла 1.png нет, это bg_manual.png*/
    font-family: segoe print;
    width: 100%;
    height: 100%;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background: url(pictures/BG.jpg);
    background-size: cover;
    background-attachment: fixed;
}

input,
textarea,
select {
    -webkit-appearance: none;
}

.body {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}


/*Поле кнопки*/

.left_field {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons {
    width: 96%;
    height: 100%;
}

.button1 {
    width: 100%;
    min-height: 60px;
    background-image: url(pictures/2.png);
    background-position: center;
    background-size: cover;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    outline: none;
    opacity: 0.8;
    border: 3px solid black;
}


/*Справочник*/

.buttons_assist {
    width: 100%;
    height: 330px;
    background-image: url(pictures/3.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.text_sprav {
    width: 100%;
    min-height: 50px;
}

.button_sprav {
    width: 100%;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button2 {
    margin-left: 10px;
    margin-top: 10px;
    width: 50%;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    outline: none;
}

.button2:hover {
    transition: 0.3s;
    opacity: 0.8;
    padding: 5px;
    box-shadow: 0 0 5px 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.button3 {
    margin-left: 10px;
    width: 70%;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    outline: none;
}

.button3:hover {
    transition: 0.3s;
    opacity: 0.8;
    padding: 5px;
    box-shadow: 0 0 5px 5px;
    margin-left: 20px;
}

.button4 {
    margin-left: 10px;
    width: 85%;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    outline: none;
}

.button4:hover {
    transition: 0.3s;
    opacity: 0.8;
    padding: 5px;
    box-shadow: 0 0 5px 5px;
    margin-left: 20px;
}

.button5 {
    margin-left: 10px;
    width: 85%;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    outline: none;
}

.button5:hover {
    transition: 0.3s;
    opacity: 0.8;
    padding: 5px;
    box-shadow: 0 0 5px 5px;
    margin-left: 20px;
}

.button6 {
    margin-left: 10px;
    width: 85%;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    outline: none;
}

.button6:hover {
    transition: 0.3s;
    opacity: 0.8;
    padding: 5px;
    box-shadow: 0 0 5px 5px;
    margin-left: 20px;
}


/* Поле текста*/

.text_field {
    width: 62%;
    min-height: 500px;
    background-image: url(pictures/bg_manual.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid black;
}

.text_1 {
    width: 100%;
    min-height: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 1px;
    border: 2px solid black;
}

.text_1foto {
    width: 100px;
    min-height: 50px;
    background-image: url(pictures/4.jpg);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

.text_1text {
    width: 75%;
    min-height: 10px;
    padding: 3px;
}

.text_2text {
    width: 75%;
    min-height: 10px;
    padding: 3px;
}

.text_3text {
    width: 75%;
    min-height: 10px;
    padding: 3px;
}

.text_4text {
    width: 75%;
    min-height: 10px;
    padding: 3px;
}

.text_5text {
    width: 75%;
    min-height: 10px;
    padding: 3px;
}

.text_6text {
    width: 75%;
    min-height: 10px;
    padding: 3px;
}

.text_7text {
    width: 75%;
    min-height: 10px;
    padding: 3px;
}

.text_2 {
    width: 100%;
    min-height: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 1px;
    border: 2px solid black;
}

.text_2foto {
    width: 100px;
    min-height: 50px;
    background-image: url(pictures/4.jpg);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

.text_3 {
    width: 100%;
    min-height: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 1px;
    border: 2px solid black;
}

.text_3foto {
    width: 100px;
    min-height: 50px;
    background-image: url(pictures/5.png);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

.text_4 {
    width: 100%;
    min-height: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 1px;
    border: 2px solid black;
}

.text_4foto {
    width: 100px;
    min-height: 50px;
    background-image: url(pictures/5.png);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

.text_5 {
    width: 100%;
    min-height: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 1px;
    border: 2px solid black;
}

.text_5foto {
    width: 100px;
    min-height: 50px;
    background-image: url(pictures/6.png);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

.text_6 {
    width: 100%;
    min-height: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 1px;
    border: 2px solid black;
}

.text_6foto {
    width: 100px;
    min-height: 50px;
    background-image: url(pictures/5.png);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

.text_7 {
    width: 100%;
    min-height: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 1px;
    border: 2px solid black;
}

.text_7foto {
    width: 100px;
    min-height: 50px;
    background-image: url(pictures/6.png);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}


/*Правое поле*/

.right_field {
    width: 18%;
    height: 100%;
}