body {
    width: 100vw;
    height: 100vh;
    background: url(/static/users/images/BG.jpg);
    margin: 0;
}

.button_nav_wiki {
    width: 250px;
    height: 100%;
}

.button_nav_main {
    width: 250px;
    height: 100%;
}