body {
    width: 100%;
    height: 100%;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: left;
    overflow-y: scroll;
    align-content: flex-start;
    background: url(/static/users/images/BG.jpg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
    margin: 0px;
}

.left_side {
    width: 100px;
    height: 100px;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 0 10px;
}

.button_nav_wiki {
    width: 100px;
    height: 100%;
}

.button_nav_main {
    width: 100px;
    height: 100%;
}

/*Лист персонажа*/

.character_list {
    width: calc(100% - 250px);
    min-height: 3600px;
    flex-direction: column;
}

.image {
    width: 900px;
    height: 1182px;
    background-size: cover;
    flex-direction: none;
    margin-bottom: 20px;
}

.page_1 {
    background-image: url(/static/users/images/character_page_1.png);
}

.page_2 {
    background-image: url(/static/users/images/character_page_2.png);
}


.page_3 {
    background-image: url(/static/users/images/character_page_3.png);
}


.text_name_or_clsp {
    width: 240px;
    height: 25px;
    margin: 82px 0px 0px 60px;
}

.main_info {
    width: 450px;
    height: 20px;
    margin: -55px 0px 0px 390px;
    /*align-items: stretch;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.indent {
    margin-top: 25px;
}

.text_main_info {
    width: 120px;
    height: 15px;
}

.container_char {
    width: 60px;
    height: 650px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 61px 0px 0px 45px;
}

.characteristics {
    width: 60px;
    height: 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

.text_characteristics {
    width: 50px;
    height: 35px;
    margin-top: 10px;
}

.text_char_mod {
    width: 20px;
    height: 10px;
    margin-top: 10px;
}


.indent_two {
    margin-top: 33px;
    margin-left: 2px;
}

.insp_bonus_sk {
    width: 30px;
    height: 80px;
    margin: -650px 0px 0px 133px;
    align-items: center;
}

.text_insp_bonus_sk {
    width: 26px;
    height: 20px;
}

.checks {
    width: 20px;
    height: 124px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 28px 0px 0px 135px;
}

.choose_check {
    width: 12px;
    height: 12px;
    margin-top: 8.5px;
}

.checks_parm {
    width: 20px;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: -123px 0px 0px 160px;
}

.check_name {
    width: 13px;
    height: 10px;
    margin-top: 4.5px;
}

.checks_skills {
    width: 20px;
    height: 372px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 68px 0px 0px 135px;
}

.checks_skills_parm {
    width: 20px;
    height: 372px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: -370px 0px 0px 158px;
}

.battle_parms {
    width: 220px;
    height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: -642px 0px 0px 340px;
}

.btl_parm {
    width: 35px;
    height: 35px;
    margin-left: 44px;
}

.indent_three {
    margin-left: 0px;
}

.passive_at {
    width: 22px;
    height: 20px;
    margin: 628px 0px 0px 38px;
}

.hp_stats_h {
    width: 80px;
    height: 15px;
    margin: -625px 0px 0px 400px;
}

.hp_stats {
    width: 65px;
    height: 10px;
}

.temp_hp {
    width: 80px;
    height: 12px;
    margin: 85px 0px 0px 400px;
}

.hp_dice {
    width: 80px;
    height: 12px;
    margin: 73px 0px 0px 360px;
}

.test_ag_death {
    width: 60px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: -9px 0px 0px 510px;
}

.success_or_failure {
    width: 16px;
    height: 16px;
    margin-left: 0px;
}

.indent_four {
    margin: 4px 0px 0px 510px;
}

.weapon {
    width: 250px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 66px 0px 0px 325px;
}

.w_name {
    width: 96px;
    height: 18px;
    padding: 0%;
}

.attack_bonus {
    width: 40px;
    height: 18px;
    padding: 0%
}

.damage_type {
    width: 96px;
    height: 18px;
    padding: 0%
}

.indent_five {
    margin-top: 10.5px;
}

.weapon_description {
    width: 280px;
    height: 175px;
    margin: 10px 0px 0px 320px;
}

.spells_and_languages {
    width: 250px;
    height: 205px;
    margin: 85px 0px 0px 40px;
}

.personality_traits {
    width: 230px;
    height: 70px;
    margin: -935px 0px 0px 620px;
}

.ideals {
    width: 230px;
    height: 50px;
    margin: 33px 0px 0px 620px;
}

.bonds {
    width: 230px;
    height: 50px;
    margin: 33px 0px 0px 620px;
}

.flaws {
    width: 230px;
    height: 50px;
    margin: 33px 0px 0px 620px;
}

.money {
    width: 40px;
    height: 190px;
    display: flex;
    flex-direction: column;
    margin: 358px 0px 0px 335px;
}

.money_type {
    width: 35px;
    height: 16px;
    margin-top: 17.25px;
}

.inventory {
    width: 200px;
    height: 300px;
    margin: -185px 0px 0px 395px;
}

.features_and_properties {
    width: 250px;
    height: 550px;
    margin: -610px 0px 0px 610px;
}

.indent_six{
    margin-bottom: 5px;
}

.allies_and_organizations {
    width: 265px;
    height: 325px;
    margin: 60px 0px 0px 330px; 
}

.org_name {
    width: 220px;
    height: 25px;
    margin: -295px 0px 0px 628px;
}

.organization_name {
    width: 205px;
    height: 17px; 
}

.character_backstory {
    width: 250px;
    height: 560px;
    margin: 330px 0px 0px 43px;
}

.properties_and_features {
    width: 530px;
    height: 310px;
    margin: -580px 0px 0px 332px;
}

.treasures {
    width: 530px;
    height: 235px;
    margin: 35px 0px 0px 332px;
}

.spells_parms {
    width: 420px;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin: -44px 0px 0px 418px;
}

.spell_characteristic {
    width: 85px;
    height: 30px;
}

.dif_test {
    width: 85px;
    height: 30px;
    margin-left: 60px;
}

.spell_attack_bonus {
    width: 85px;
    height: 30px;
    margin-left: 63px;
}

.zero {
    width: 265px;
    height: 160px;
    margin: 125px 0px 0px 35px;
}

.spell_cells_info {
    width: 230px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin: 45px 0px 0px 65px;
}

.number_sp_cells {
    width: 55px;
    height: 25px;
}

.number_spent_sp_cells {
    width: 135px;
    height: 25px;
    margin-left: 15px;
}

.one {
    width: 265px;
    height: 270px;
    margin: 12px 0px 0px 35px;
}

.indent_seven {
    margin-top: 22px;
}

.two {
    width: 265px;
    height: 270px;
    margin: 11px 0px 0px 35px;
}

.indent_eight {
    margin: -920px 0px 0px 350px;
}

.three {
    width: 265px;
    height: 269px;
    margin: 11px 0px 0px 320px;
}

.indent_nine {
    margin: 22px 0px 0px 350px;
}

.four {
    width: 265px;
    height: 270px;
    margin: 10px 0px 0px 320px;
}

.five {
    width: 265px;
    height: 200px;
    margin: 10px 0px 0px 320px;
}

.indent_ten {
    margin: -933px 0px 0px 633px;
}

.six {
    width: 265px;
    height: 184px;
    margin: 10px 0px 0px 602px;
}

.indent_eleven {
    margin: 22px 0px 0px 633px;
}

.seven {
    width: 265px;
    height: 185px;
    margin: 10px 0px 0px 602px;
}

.eight {
    width: 265px;
    height: 140px;
    margin: 10px 0px 0px 602px;
}

.nine {
    width: 265px;
    height: 140px;
    margin: 10px 0px 0px 602px;
}
/**/