body {
    width: 100vw;
    height: 100vh;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: left;
    overflow-y: scroll;
    align-content: flex-start;
    background: url(/static/users/images/BG.jpg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
    margin: 0px;
}

input,
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

.left_side {
    width: 100px;
    height: 100px;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 0 10px;
}

.button_nav_wiki {
    width: 100px;
    height: 100%;
}

.button_nav_main {
    width: 100px;
    height: 100%;
}

/*Лист персонажа*/

.character_list {
    width: calc(100% - 250px);
    min-height: 3600px;
    flex-direction: column;
}

.image {
    width: 900px;
    height: 1182px;
    background-size: cover;
    flex-direction: none;
}

.page_1 {
    background-image: url(/static/users/images/character_page_1.png);
}

.page_2 {
    background-image: url(/static/users/images/character_page_2.png);
}


.page_3 {
    background-image: url(/static/users/images/character_page_3.png);
}


.text_name_or_clsp {
    width: 240px;
    height: 25px;
    margin: 84px 0px 0px 60px;
    border: none;
}

.main_info {
    width: 450px;
    height: 35px;
    margin: -55px 0px 0px 390px;
    /*align-items: stretch;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indent {
    margin-top: 10px;
}

.text_main_info {
    width: 120px;
    height: 15px;
}