{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <title>DnD-Главная</title>
    <link rel="stylesheet" href="{% static 'wiki/css/contents.css' %}">
    <link rel="shortcut icon" href="/static/wiki/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="left_field">
       <input type="image" src="/static/wiki/images/2.png" alt="submit" name="button_main" class="button_nav_content" onclick="location.href='{% url "wiki:content" %}'">
        <div class="buttons_assist">
            <div class="button_sprav">
                <input type="image" src="/static/wiki/images/Rasy.png" alt="submit" name="button_class" class="button_nav" onclick="location.href='{% url "wiki:races" %}'">
                <input type="image" src="/static/wiki/images/Klassy.png" alt="submit" name="button_class" class="button_nav" onclick="location.href='{% url "wiki:classes" %}'">
                <input type="image" src="/static/wiki/images/Predmety.png" alt="submit" name="button_class" class="button_nav" onclick="location.href='{% url "wiki:items" %}'">
                <input type="image" src="/static/wiki/images/Bestriariy.png" alt="submit" name="button_class" class="button_nav" onclick="location.href='{% url "wiki:bestiary" %}'">
                <input type="image" src="/static/wiki/images/Zaklinania.png" alt="submit" name="button_class" class="button_nav" onclick="location.href='{% url "wiki:spells" %}'">
            </div>
        </div>
    </div>
    {% block content %}{% endblock content %}
</body>
</html>