{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <title>DnD-Главная</title>
    <link rel="stylesheet" href="{% static 'wiki/css/contents.css' %}">
    <link rel="shortcut icon" href="/static/wiki/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="button_assist">
        <div class="left_field">
            <a class="button_nav" href="{% url 'wiki:content' %}">Главная</a>
            <a class="button_nav" href="{% url 'wiki:races' %}">Рассы</a>
            <a class="button_nav" href="{% url 'wiki:classes' %}">Классы</a>
            <a class="button_nav" href="{% url 'wiki:items' %}">Предметы</a>
            <a class="button_nav" href="{% url 'wiki:bestiary' %}">Бестиарий</a>
            <a class="button_nav" href="{% url 'wiki:spells' %}">Заклинания</a>
        </div>
    </div>
    <div class="text_field_wrap"></div>{% block content %}{% endblock content %}
<div class="right_field">
    <div class="nickname">{{ user.username }}</div>
    <a class="button_nav_right" href="{% url 'users:profile' %}">Профиль</a>
    <a class="button_nav_right" href="{% url 'wiki:races' %}">Справочник</a>
    <a class="button_nav_right" href="{% url 'users:logout' %}">Выход</a>
</div>
</body>
</html>