{%extends "wiki/base.html" %}
    {%block content%}
    <div class="text_field">
        <div class="text_field_con">
        <h1>Новости</h1>
        <div class="text_1">
            <div class="text_1foto">
            </div>
            <div class="text_1text">
                <b>Заклинания:</b>
                <b>Солнечный ожог (Sunburst)</b><br> Яркий солнечный свет освещает всё в 60-футовом радиусе с центром на точке, выбранной вами в пределах дистанции. Все существа, находящиеся в нём, должны совершить спасбросок Телосложения...
            </div>
        </div>
        <div class="text_2">
            <div class="text_2foto">
            </div>
            <div class="text_2text">
                <b>Заклинания:</b>
                <b>Священное оружие (Holy weapon)</b><br> Вы наполняете оружие, которого касаетесь, святой силой. Пока заклинание активно, оружие излучает яркий свет в радиусе 30 фт. и тусклый свет в пределах еще 30 фт. Кроме того, атаки, совершенные
                этим оружием, наносят дополнительный урон излучением 2d8 при попадании...
            </div>
        </div>
        <div class="text_3">
            <div class="text_3foto">
            </div>
            <div class="text_3text">
                <b>Классы:</b>
                <b>БАРД (Bard)</b><br> Напевая, и перебирая пальцами по старинному монументу, найденному в заброшенных руинах, полуэльфийка в обветшалом кожаном доспехе перебирает знания, мелькающие в её голове, вызывая силой магии, заключённой в песне,
                людей, которые построили этот монумент и загадочное предание, которое он изображает...
            </div>
        </div>
        <div class="text_4">
            <div class="text_4foto">
            </div>
            <div class="text_4text">
                <b>Расы:</b>
                <b>Пентадрон</b><br> Модроны— создания абсолютного порядка, поддерживающие в своем обществе иерархию как в пчелином улье. Они обитают на плане Механус, и следят за его вечно вращающимися шестернями, ведя идеально упорядоченное существование
                механических аппаратов.<br> Абсолютный закон и порядок. Под управлением своего лидера, Праймуса, модроны стараются...

            </div>
        </div>
        <div class="text_5">
            <div class="text_5foto">
            </div>
            <div class="text_5text">
                <b>Предметы:</b>
                <b>Безделушки</b><br>
                <b>1—</b> Мумифицированная рука гоблина<br>
                <b>2—</b> Кусочек кристалла, слабо светящийся в лунном свете<br>
                <b>3—</b> Золотая монета, отчеканенная в неизвестной стране<br>
                <b>4—</b> Дневник, написанный на неизвестном вам языке<br>
                <b>5—</b> Латунное кольцо, которое не темнеет со временем...<br>
            </div>
        </div>
        <div class="text_6">
            <div class="text_6foto">
            </div>
            <div class="text_6text">
                <b>Бестиарий:</b>
                <b>Драук</b><br> Когда дроу подает большие надежды, Лолс призывает его в Ямы Демонической Паутины, чтобы испытать его веру и силу. Те, кто проходят испытание, возвышаются пред Лолс. Те же, кто не преуспеет, превращаются в драуков — ужасных
                гибридов дроу и гигантских пауков, которые служат живым напоминанием мощи Лолс. Лишь дроу может быть обращен в драука, и секретом такого превращения владеет только Лолс...
            </div>
        </div>
        <div class="text_7">
            <div class="text_7foto">
            </div>
            <div class="text_7text">
                <b>Оружие:</b>
                <b>Воинское рукопашное</b><br>
                <b>Алебарда</b><br>
                <b>Стоимость:</b> 20 зм<br>
                <b>Урон:</b> 1d20 рубящий...
            </div>
        </div>
        </div>
    </div>
    {%endblock content%}
