{%extends "wiki/base.html" %}
    {%block content%}

    <div class="text_field">
        <h1 style="text-align: center;">Расы</h1>
        <h2 style="text-align: center;">Пентадрон</h2>
        <b>Тип:</b> Конструкт<br>
        <b>Мировоззрение:</b> Законно-нейтральный<br>
        <b>Класс доспеха:</b> 16 (Природный)<br>
        <b>Хиты:</b> 32 (5d10 + 5)<br>
        <b>Размер:</b> Большой<br>
        <b>Скорость:</b> 40<br>
        <b>Языки:</b> Модронский<br>
        <b>Опасность:</b> 2 - 450 оп<br>
        <b>Чувства:</b> Истинное зрение 120 фт.<br>
        <h3>Характеристики:</h3>
        <b>Сила</b> — 15 (+2)<br>
        <b>Ловкость</b> — 14 (+2)<br>
        <b>Телосложение</b> — 12 (+1)<br>
        <b>Интеллект</b> — 10 (0)<br>
        <b>Мудрость</b> — 10 (0)<br>
        <b>Харизма</b> — 13 (+1)<br>
        <h3>Особенности:</h3>
        Пассивная внимательность 14<br> Косное сознание. Пентадрона нельзя заставить действовать так, как противоречит его природе или инструкциям.<br> Распад. Если Пентадрон умирает, его тело рассыпается в пыль, оставляя лишь оружие и то, что он нёс.<br>
        <h3>Действия:</h3>
        <b>Мультиатака.</b> Пентадрон совершает пять атак рукой.<br>
        <b>Рука.</b> Рукопашная атака оружием: +4 к попаданию, досягаемость 5 фт., одна цель. Попадание: Дробящий урон 5 (1d6 + 2).<br>
        <b>Парализующий газ (перезарядка 5–6).</b> Пентадрон выдыхает газ 30-фт.ым конусом. Все существа в этой области должны преуспеть в спасброске Телосложения со Сл 11, иначе станут парализованными на 1 минуту. Существо может повторять этот спасбросок
        в конце каждого своего хода, оканчивая эффект на себе при успехе<br>
        <h3>Описание:</h3>
        <b>Модроны</b> — создания абсолютного порядка, поддерживающие в своем обществе иерархию как в пчелином улье. Они обитают на плане Механус, и следят за его вечно вращающимися шестернями, ведя идеально упорядоченное существование механических аппаратов.<br>        Абсолютный закон и порядок. Под управлением своего лидера, Праймуса, модроны стараются упорядочивать мультивселенную в соответствии с принципами, недоступными пониманию простых смертных. Их собственные разумы встроены в иерархическую пирамиду,
        в которой каждый модрон получает приказы от вышестоящих и делегирует задания нижестоящим. Модроны выполняют команды с полным повиновением, максимальной эффективностью, полностью игнорируя моральные аспекты и совершенно не заботясь о себе. Для
        модронов не существует концепции самоидентификации за пределами того минимума, который необходим для исполнения ими их функций. Они существуют в виде объединенного коллектива, и, несмотря на то, что он делится на ранги, про себя модроны всегдаговорят
        собирательно.
        <br>
        <b>Шестерни Великого Механизма.</b> Если модрона уничтожить, его останки исчезают. Замена из нижестоящего ранга мгновенно трансформируется во вспышке света, приобретая физический облик своего нового ранга. Повышенный таким образом модрон точно
        так же заменяется одним из подчиненных, и так до самого низа в иерархии. А на нижнем ранге новый модрон создается Праймусом; из Великого Собора Модронов на Механусе постоянно выходит равномерный поток монодронов.<br>

        <h2 style="text-align: center;">Дроу</h2>
        <b>Тип:</b> Гуманоид (эльф)<br>
        <b>Мировоззрение:</b> Нейтрально-Злой<br>
        <b>Класс доспеха:</b> 12 (кольчужная рубашка)<br>
        <b>Хиты:</b> 13 (3d8)<br>
        <b>Размер:</b> Средний<br>
        <b>Скорость:</b> 30<br>
        <b>Языки:</b> Эльфийский, Подземный<br>
        <b>Опасность:</b> 1/4 - 50 оп<br>
        <b>Чувства:</b> Темное зрение 120 фт., Пассивная внимательность 12<br>
        <h3>Характеристики:</h3>
        <b>Сила</b> — 10 (0)<br>
        <b>Ловкость</b> — 14 (+2)<br>
        <b>Телосложение</b> — 10 (0)<br>
        <b>Интеллект</b> — 11 (0)<br>
        <b>Мудрость</b> — 11 (0)<br>
        <b>Харизма</b> — 12 (+1)<br>
        <h3>Особенности:</h3>
        <b>Наследие фей.</b> Дроу совершает с преимуществом спасброски от очарования, и магия не может его усыпить.<br>
        <b>Врождённое колдовство.</b> Базовой характеристикой дроу является Харизма (Сл спасброска от заклинания 11). Он может накладывать следующиезаклинания, не нуждаясь в материальных компонентах:<br> a) Неограниченно: пляшущие огоньки<br> b) 1/день
        каждое: огонь фей, тьма<br>
        <b>Чувствительность к солнечному свету.</b> Находясь на солнечном свету, дроу совершает с помехой броски атаки, а также проверки Мудрости (Внимательность), полагающиеся на зрение.<br>
        <h3>Действия:</h3>
        <b>Короткий меч.</b> Рукопашная атака оружием: +4 к попаданию, досягаемость 5 фт., одна цель. Попадание: Колющий урон 5 (1d6 + 2).<br>
        <b>Ручной арбалет.</b> Дальнобойная атака оружием: +4 к попаданию,дистанция 30/120 фт., одна цель. Попадание: Колющий урон 5 (1d6 + 2), и цель должна преуспеть в спасброске Телосложения со Сл 13, иначе станет отравленной на 1 час. Если спасбросок
        провален на 5 или больше единиц, цель также лишена сознания, пока отравлена таким образом. Цель просыпается, если получает урон или другое существо разбудит её действием.<br>
        <h3>Описание:</h3>
        Десятки тысяч лет назад эльфы были разделены; доброжелательные по характеру выступили против тех, что были эгоистичны и жестоки. Война между эльфами закончилась, когда добрые эльфы изгнали своих недоброжелательных родственников в подземные глубины. Здесь,
        в пещерах без света, в бесконечных лабиринтах извилистых проходов тёмные эльфы — дроу — нашли убежище. Они также обнаружили эльфийскую богиню, которая не оставила их. По её приказу тёмные эльфы построили в Подземье целую империю.<br>
        <b>Дети Лолс</b>. Безнравственных эльфов дроу редко видят наповерхности. Несмотря на это они больше не считают себяизгнанниками и помышляют уничтожить эльфов, которые их изгнали. Они предназначены править миром тьмы, и когда Лолс (Паучья Королева
        или Демоническая Королева Пауков) повелит им восстать и уничтожить наземных родственников, они сделают это.<br>
        <b>Создания тьмы.</b> Дроу прожили под землёй так долго, чтоприспособились к окружению и могут видеть в темноте. Однако теперь они не могут переносить солнечный свет. Когда в Подземье заканчиваются рабы, дроу посылают под покровом ночи отряды
        для захвата гуманоидов, и те приводят новых несчастных томиться в подчинении. За исключением этих редких вылазок дроу предпочитают оставаться в своих подземных королевствах, где у них всё под контролем и они чувствуют себя в безопасности.<br>
        <b>Города Подземья.</b> Дроу выращивают и содержат гигантских пауков для защиты своих городов от незваных гостей, и поэтому их города увешаны тонкими, красивыми лентами, создающими воздушную ловушку, призванную поймать летающих врагов, которые
        могут парить над стенами.<br>
        <b>Оружие и доспехи.</b> Дроу делают оружие из адамантина, тёмного и сверхъестественно твёрдого металла. Ремесленники дроу украшают своё оружие и доспехи узорами с мотивами паутины и пауков, а маги порой наделяют эти предметы магией, чтоб увеличить
        их эффективность. Однако такая магия рассеивается от воздействия солнечного света, так что оружие и доспехи дроу редко сохраняют свои бонусы улучшения и волшебные свойства, когда выносятся на поверхность.<br>
        <b>Правила матриархата.</b> В обществе дроу мужчины прислуживают женщинам. Мужчина дроу может руководить патрулём в Подземье или вылазкой на поверхность, но он докладывает женщине дроу — либо матроне своего дома, либо одной из её подчинённых.
        Хотя мужчины дроу могут выполнять почти любую функцию в обществе дроу, они не могут быть жрецами, и не могут управлять домами.<br>
        <b>Склонность к ядам.</b> Дистиллированный яд пауков и растительности Подземья часто встречается среди дроу и играет большую роль в их культуре и политике. Маги дроу придумали вязкий токсин, лишающий врагов сознания. Воины дроу покрывают свои
        клинки и арбалетные болты этим ядом, рассчитывая после боя на допрос или пытки.<br>

        <h2 style="text-align: center;">Игольчатая зараза</h2>
        <b>Тип:</b> Растение<br>
        <b>Мировоззрение:</b> Нейтрально-Злой<br>
        <b>Класс доспеха:</b> 12 (природный)<br>
        <b>Хиты:</b> 11 (2d8+2)<br>
        <b>Размер:</b> Средний<br>
        <b>Скорость:</b> 30<br>
        <b>Языки:</b> Общий<br>
        <b>Опасность:</b> 1/4 - 50 оп<br>
        <b>Чувства:</b> Слепое зрение 60 фт. (слеп за пределами этого радиуса),<br>
        <b>Пассивная внимательность:</b> 9<br>
        <h3>Характеристики:</h3>
        <b>Сила</b> — 12 (+1)<br>
        <b>Ловкость</b> — 12 (+1)<br>
        <b>Телосложение</b> — 13 (+1)<br>
        <b>Интеллект</b> — 4 (-3)<br>
        <b>Мудрость</b> — 8 (-1)<br>
        <b>Харизма</b> — 3 (-4)<br>
        <h3>Особенности:</h3>
        <b>Иммунитет к статусам:</b> Глухота, Ослепление<br>
        <b>Языки:</b> понимает Общий, но не говорит<br>
        <h3>Действия:</h3>
        <b>Когти.</b> Рукопашная атака оружием: +3 к попаданию, досягаемость 5 фт., одна цель. Попадание: Колющий урон 6 (2d4 + 1).<br>
        <b>Иглы.</b> Дальнобойная атака оружием: +3 к попаданию, дистанция 30/60 фт., одна цель. Попадание: Колющий урон 8 (2d6 + 1).<br>
        <h3>Описание:</h3>
        Пробуждённые тьмой растения, наделённые разумом и возможностью передвижения, подобно чуме губят землю. Подпитываемые тьмой через почву, заразы несут в себе древнее зло и пытаются распространить его везде, где это возможно В тени леса игольчатая зараза
        издалека может быть принята за сгорбившегося гуманоида, передвигающегося шаркающей походкой. Вблизи же эти существа выглядят как ужасные растения, чьи иглы растут по всему телу. Игольчатый сорняк выбрасывает эти игры в стороны или запускает их
        как стрелы, которые пробивают доспех и плоть. Когда игольчатая зараза обнаруживает угрозу, она выбрасывает пыльцу, которая с ветром передвигается к другим сородичам по всему лесу. Предупрежденные о местонахождении своих врагов, игольчатые заразы
        сходятся со всех сторон, чтобы омыть свои корни кровью.<br>

        <h2 style="text-align: center;">Зомби</h2>
        <b>Тип:</b> Нежить<br>
        <b>Мировоззрение:</b> Нейтрально-Злой<br>
        <b>Класс доспеха:</b> 8<br>
        <b>Хиты:</b> 22 (3d8+9)<br>
        <b>Размер:</b> Средний<br>
        <b>Скорость:</b> 20<br>
        <b>Языки:</b> см. Особенности<br>
        <b>Опасность:</b> 1/4 - 50 оп<br>
        <h3>Характеристики:</h3>
        <b>Сила</b> — 13 (+1)<br>
        <b>Ловкость</b> — 6 (-2)<br>
        <b>Телосложение</b> — 16 (+3)<br>
        <b>Интеллект</b> — 3 (-4)<br>
        <b>Мудрость</b> — 6 (-2)<br>
        <b>Харизма</b> — 5 (-3)<br>
        <h3>Особенности:</h3>
        <b>Иммунитет к статусам:</b> Отравление<br>
        <b>Иммунитет у урону:</b> Яд<br>
        <b>Языки:</b> Понимает языки, которые знал при жизни, но не может говорить.<br>
        <b>Стойкость нежити.</b> Если зомби получает урон, уменьшающий хиты до 0, он совершает спасбросок Телосложения со Сл 5 + полученный урон, если только это не был урон излучением или урон от критического попадания. При успехе хиты зомби опускаются
        всего лишь до 1.<br>
        <h3>Действия:</h3>
        <b>Размашистый удар.</b> Рукопашная атака оружием: +3 к попаданию, досягаемость 5 фт., одна цель. Попадание: Дробящий урон 4 (1d6 + 1).<br>
        <h3>Описание:</h3>
        Откуда-то из темноты слышатся гортанные стоны. В поле зрения появляется шатающееся тело, подволакивающее распухшую ногу и тянущее изломанные руки. Зомби с легкостью убьют всех, кто не успеет избежать их объятий.<br>
        <b>Темные слуги.</b> Зловещая некромантия заставляет мертвых подниматься в виде зомби, выполняющих без страха и сомнения то, что прикажет их создатель. Они двигаются неровной, дергающейся походкой, одетые в гниющие остатки того, в чем их похоронили,
        окружая себя зловонным запахом разложения.<br> Большинство зомби создается из гуманоидных останков, однако подобием жизни могут быть наполнены плоть и кости любого живого существа. Обычно для этого используется заклинание из арсенала некромантии.
        Некоторые зомби могут подниматься самостоятельно, когда темная магия окутывает какое-либо пространство. Единожды поднятое как зомби, существо не сможет больше вернуться к жизни, разве что кроме как посредством могущественной магии, например, заклинания
        воскрешение.
        <br> У зомби нет никакого осознания бывшего себя, его разум лишен мыслей и фантазии. Без приказа зомби будет просто стоять на месте и гнить, пока рядом не окажется кто-то, кого можно убить. Магия, поднявшая зомби, наполняет его злом, поэтому оставленный
        без цели, он атакует любое живое существо, столкнувшееся с ним. Безмозглые солдаты. Зомби выбирают самый кратчайший путь к своему врагу, неспособные оценить препятствия на пути, тактику и опасный ландшафт. В стремлении достичь своего врага, находящегося
        на другом берегу, они могут войти в бурлящую реку, где их размажет о камни. Чтобы убить противника, стоящего внизу, зомби могут выйти в открытое окно. Они бездумно шагнут в полыхающий огонь, колодец с кислотой, и напрямки пойдут через поле, усеянное
        шипами.
        <br> Они могут следовать простым приказам и отличать друзей от врагов, но их способности ограничены волочением ног туда, куда укажут, убивая всех врагов на пути. Зомби обычно вооружены тем, что использовали, и не будут поднимать выпавшее оружие
        и другие инструменты, пока им не прикажут.<br> Натура нежити. Зомби не нужен воздух, еда, питье и сон.<br>

        <h2 style="text-align: center;">Визгун</h2>
        <b>Тип:</b> Растение<br>
        <b>Мировоззрение:</b> Без мировоззрения<br>
        <b>Класс доспеха:</b> 5<br>
        <b>Хиты:</b> 13 (3d8)<br>
        <b>Размер:</b> Средний<br>
        <b>Скорость:</b> 0<br>
        <b>Языки:</b> -<br>
        <b>Опасность:</b> 0 - 0 оп или 10 оп<br>
        <h3>Характеристики:</h3>
        <b>Сила</b> — 1 (-5)<br>
        <b>Ловкость</b> — 1 (-5)<br>
        <b>Телосложение</b> — 10 (0)<br>
        <b>Интеллект</b> — 1 (-5)<br>
        <b>Мудрость</b> — 3 (-4)<br>
        <b>Харизма</b> — 1 (-5)<br>
        <h3>Особенности:</h3>
        <b>Обманчивая внешность.</b> Пока визгун остаётся без движения, он неотличим от обычного гриба.<br>
        <h3>Действия:</h3>
        <b>Визг.</b> Если в пределах 30 фт. от визгуна появляется яркий свет или существо, визгун испускает визг, слышимый на расстоянии 300 фт. Визгун продолжает кричать, пока не пройдёт 1d4 раунда после того, как источник беспокойства окажется за пределами
        его восприятия.<br>
        <h3>Описание:</h3>
        В Подземье, с его небом из зазубренных камней и вечной ночью, произрастают самые разные грибы. Занявшие в местной подземной экосистеме место растений грибы жизненно важны для выживания многих местных видов, так как дают кров и пищу в беспощадной темноте.<br>        Грибы заводятся на органическом веществе и впоследствии разлагают его и поглощают, питаясь гнилью и трупами. По мере вызревания грибы начинают выпускать споры, которые разносятся малейшим сквозняком и разрастаются в новые грибы. Мутируя под воздействием
        магической среды Подземья, грибы часто начинают развивать защитные механизмы, а также способности к мимикрии и даже к нападению. Крупнейшие особи могут породить целые обширные подземные леса, в которых живут и находят пропитание бесчисленные существа.<br>        Визгуны — это грибы размером с человека, которые издают пронзительные вопли, отпугивая потревоживших их существ. Другие существа могут использовать их как сигнал о приближении потенциальной жертвы, а различные разумные расы Подземья разводят визгунов
        на окраинах своих поселений, чтобы отвадить непрошенных гостей.<br>
    </div>
    <div class="right_field"></div>
    {%endblock content%}
