<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body, html {
        margin: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(43, 55, 80);
    }
    .block {
        width: calc(100% - 100px);
        height: 30%;
        margin: 10px auto;
        background-color: bisque;
    }
    .dice {
        width: 100px;
        height: 100px;
        background-color: aqua;
    }
</style>
<body>
    <div class="block boss">

    </div>
    <div class="block boss">
        <div class="dice" onclick="clickDice()"><span id="diceScore"></span></div>
    </div>
    <div class="block boss">

    </div>
</body>
</html>
<script>
    function getRandom(min, max) {
        return Math.floor(Math.random() * (max + 1 - min) + min);
    }
    function clickDice () {
        var tmp = ""
        var count = document.getElementById("diceScore")
        for (var i = 0; i < 100000; i++){
            if (getRandom(0, 6) == 6){
                tmp = "yes"
                break
            }
            else tmp = "no"
        }
        count.innerHTML = tmp
    }
</script>