{% load static %}

<!DOCTYPE html>
<html lang="ru" >

<head>

  <meta charset="UTF-8">
  <title>Авторизация</title>
  <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
 
</head>

<body>
	<div class="pic">
		<div class="button">
			<input type="button" name="button" class="button1">
		</div>
		<div class="text">
		<input name="login" type="text" class="input_username" placeholder="Логин"  />
			<div class="user-icon"></div>
		<input name="password" type="password" class="input_password" placeholder="Пароль"/>
			<div class="pass-icon"></div>		
		</div>
	</div>
</body>

</html>
