{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="header">
    </div>

    <div class="body">
        <input type="button" src="css/pictures/l.jpg" alt="submit" name="logb" class="loginb" onclick="location.href='{% url "users:login" %}'"></input>
        <input type="button" src="css/pictures/r.jpg" alt="submit" name="regb" class="registerb" onclick="location.href='{% url "users:register" %}'"></input>
    </div>


</body>

</html>