{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
    <link rel="shortcut icon" href="/static/wiki/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="left_side">
        <a class="button_nav_wiki" href="{% url 'wiki:races' %}">Справочник</a>
        <a class="button_nav_main" href="{% url 'users:logout' %}">Выход</a>
    </div>
    <div class="character_list">
        <div type="image" class="image page_1" alt="">
            <input type=text class="text_name_or_clsp">
            <div class="main_info">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
            </div>
            <div class="main_info indent">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
            </div>
        </div>

        <div type="image" class="image page_2" alt="">
            <input type=text class="text_name_or_clsp" alt="Name">
        </div>

        <div type="image" class="image page_3" alt="">
            <input type=text class="text_name_or_clsp">
        </div>

    </div>
    <div class="right_side">
    </div>
</body>
</html>