{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
    <link rel="shortcut icon" href="/static/wiki/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="left_side">
        <a class="button_nav_wiki" href="{% url 'wiki:races' %}">Справочник</a>
        <a class="button_nav_main" href="{% url 'users:logout' %}">Выход</a>
    </div>
    <div class="character_list">
        <div type="image" class="image page_1" alt="">
            <input type="text" class="text_name_or_clsp">
            <div class="main_info">
                <input type="text" class="text_main_info">
                <input type="text" class="text_main_info">
                <input type="text" class="text_main_info">
            </div>
            <div class="main_info indent">
                <input type="text" class="text_main_info">
                <input type="text" class="text_main_info">
                <input type="text" class="text_main_info">
            </div>
            <div class="container_char">
                <!--Сил-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
                <!--Лов-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
                <!--Вын-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
                <!--Инт-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
                <!--Муд-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
                <!--Хар-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
            </div>

            <div class="insp_bonus_sk">
                <input type="text" class="text_insp_bonus_sk">
                <input type="text" class="text_insp_bonus_sk indent_two" >
            </div>
            <div class="checks">
                <input type="radio" name="checks" class="choose_check">
                <input type="radio" name="checks" class="choose_check">
                <input type="radio" name="checks" class="choose_check">
                <input type="radio" name="checks" class="choose_check">
                <input type="radio" name="checks" class="choose_check">
                <input type="radio" name="checks" class="choose_check">
            </div>
            <div class="checks_parm">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
            </div>
            <div class="checks_skills">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
                <input type="radio" name="checks_skills" class="choose_check">
            </div>
            <div class="checks_skills_parm">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
            </div>
            <div class="battle_parms">
                <input type="text" class="btl_parm indent_three">
                <input type="text" class="btl_parm">
                <input type="text" class="btl_parm">
            </div>
            <input type="text" class="passive_at">
            <div class="hp_stats_h">
                <input type="text" class="hp_stats">
            </div>
            <div class="temp_hp">
                <input type="text" class="hp_stats">
            </div>
        </div>

        <div type="image" class="image page_2" alt="">
            <input type=text class="text_name_or_clsp" alt="Name">
            <div class="main_info">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
            </div>
            <div class="main_info indent">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
            </div>
        </div>

        <div type="image" class="image page_3" alt="">
            <input type=text class="text_name_or_clsp">
        </div>

    </div>
    <div class="right_side">
    </div>
</body>
</html>