{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
    <link rel="shortcut icon" href="/static/wiki/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="left_side">
        <a href="{% url 'wiki:races' %}">Играть</a>
    </div>
    <div class="character_list">
        <div type="image" class="image page_1" alt="">
            <input type="text" class="text_name_or_clsp">
            <div class="main_info">
                <input type="text" class="text_main_info">
                <input type="text" class="text_main_info">
                <input type="text" class="text_main_info">
            </div>
            <div class="main_info indent">
                <input type="text" class="text_main_info">
                <input type="text" class="text_main_info">
                <input type="text" class="text_main_info">
            </div>
            <div class="container_char">
                <!--Сил-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
                <!--Лов-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
                <!--Вын-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
                <!--Инт-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
                <!--Муд-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
                <!--Хар-->
                <div class="characteristics">
                    <input type="text" class="text_characteristics">
                    <input type="text" class="text_char_mod">
                </div>
            </div>

            <div class="insp_bonus_sk">
                <input type="text" class="text_insp_bonus_sk">
                <input type="text" class="text_insp_bonus_sk indent_two" >
            </div>
            <div class="checks">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
            </div>
            <div class="checks_parm">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
            </div>
            <div class="checks_skills">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
                <input type="checkbox" class="choose_check">
            </div>
            <div class="checks_skills_parm">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
                <input type="text" class="check_name">
            </div>
            <div class="battle_parms">
                <input type="text" class="btl_parm indent_three">
                <input type="text" class="btl_parm">
                <input type="text" class="btl_parm">
            </div>
            <input type="text" class="passive_at">
            <div class="hp_stats_h">
                <input type="text" class="hp_stats">
            </div>
            <div class="temp_hp">
                <input type="text" class="hp_stats">
            </div>
            <div class="hp_dice">
                <input type="text" class="hp_stats">
            </div>
            <div class="test_ag_death">
                <input type="radio" class="success_or_failure">
                <input type="radio" class="success_or_failure">
                <input type="radio" class="success_or_failure">
            </div>
            <div class="test_ag_death indent_four">
                <input type="radio" class="success_or_failure">
                <input type="radio" class="success_or_failure">
                <input type="radio" class="success_or_failure">
            </div>
            <div class="weapon">
                <input type="text" class="w_name">
                <input type="text" class="attack_bonus">
                <input type="text" class="damage_type">
            </div>
            <div class="weapon indent_five">
                <input type="text" class="w_name">
                <input type="text" class="attack_bonus">
                <input type="text" class="damage_type">
            </div>
            <div class="weapon indent_five">
                <input type="text" class="w_name">
                <input type="text" class="attack_bonus">
                <input type="text" class="damage_type">
            </div>
            <div class="weapon_description">
                <textarea rows="11" cols="32">
                </textarea>
            </div>
            <div class="spells_and_languages">
                <textarea rows="13" cols="31">
                </textarea>
            </div>
            <div class="personality_traits">
                <textarea rows="4" cols="28">
                </textarea>
            </div>
            <div class="ideals">
                <textarea rows="3" cols="28">
                </textarea>
            </div>
            <div class="bonds">
                <textarea rows="3" cols="28">
                </textarea>
            </div>
            <div class="flaws">
                <textarea rows="3" cols="28">
                </textarea>
            </div>
            <div class="money">
                <input type="text" class="money_type">
                <input type="text" class="money_type">
                <input type="text" class="money_type">
                <input type="text" class="money_type">
                <input type="text" class="money_type">
            </div>
            <div class="inventory">
                <textarea rows="16" cols="21">
                </textarea>
            </div>
            <div class="features_and_properties">
                <textarea rows="36" cols="31">
                </textarea>
            </div>
        </div>

        <div type="image" class="image page_2" alt="">
            <input type=text class="text_name_or_clsp indent_six">
            <div class="main_info indent_six">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
            </div>
            <div class="main_info indent">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
                <input type=text class="text_main_info">
            </div>
            <div class="allies_and_organizations">
                <textarea rows="21" cols="33">
                </textarea>
            </div>
            <div class="org_name">
                <input type=text class="organization_name">
            </div>
            <div class="character_backstory">
                <textarea rows="36" cols="31">
                </textarea>
            </div>
            <div class="properties_and_features">
                <textarea rows="20" cols="69">
                </textarea>
            </div>
            <div class="treasures">
                <textarea rows="15" cols="69">
                </textarea>
            </div>
        </div>

        <div type="image" class="image page_3" alt="">
            <input type=text class="text_name_or_clsp indent_six">
            <div class="spells_parms">
                <input type=text class="spell_characteristic">
                <input type=text class="dif_test">
                <input type=text class="spell_attack_bonus">
            </div>
            <div class="zero">
                <textarea rows="10" cols="33">
                </textarea>
            </div>
            <div class="spell_cells_info">
                <input type=text class="number_sp_cells">
                <input type=text class="number_spent_sp_cells">
            </div>
            <div class="one">
                <textarea rows="17" cols="33">
                </textarea>
            </div>
            <div class="spell_cells_info indent_seven">
                <input type=text class="number_sp_cells">
                <input type=text class="number_spent_sp_cells">
            </div>
            <div class="two">
                <textarea rows="17" cols="33">
                </textarea>
            </div>
            <div class="spell_cells_info indent_eight">
                <input type=text class="number_sp_cells">
                <input type=text class="number_spent_sp_cells">
            </div>
            <div class="three">
                <textarea rows="17" cols="33">
                </textarea>
            </div>
            <div class="spell_cells_info indent_nine">
                <input type=text class="number_sp_cells">
                <input type=text class="number_spent_sp_cells">
            </div>
            <div class="four">
                <textarea rows="17" cols="33">
                </textarea>
            </div>
            <div class="spell_cells_info indent_nine">
                <input type=text class="number_sp_cells">
                <input type=text class="number_spent_sp_cells">
            </div>
            <div class="five">
                <textarea rows="12" cols="33">
                </textarea>
            </div>
            <div class="spell_cells_info indent_ten">
                <input type=text class="number_sp_cells">
                <input type=text class="number_spent_sp_cells">
            </div>
            <div class="six">
                <textarea rows="12" cols="33">
                </textarea>
            </div>
            <div class="spell_cells_info indent_eleven">
                <input type=text class="number_sp_cells">
                <input type=text class="number_spent_sp_cells">
            </div>
            <div class="seven">
                <textarea rows="12" cols="33">
                </textarea>
            </div>
            <div class="spell_cells_info indent_eleven">
                <input type=text class="number_sp_cells">
                <input type=text class="number_spent_sp_cells">
            </div>
            <div class="eight">
                <textarea rows="9" cols="33">
                </textarea>
            </div>
            <div class="spell_cells_info indent_eleven">
                <input type=text class="number_sp_cells">
                <input type=text class="number_spent_sp_cells">
            </div>
            <div class="nine">
                <textarea rows="9" cols="33">
                </textarea>
            </div>
        </div>

    </div>
    <div class="right_field">
        <div class="nickname">{{ user.username }}</div>
        <a class="button_nav_right" href="{% url 'users:profile' %}">Профиль</a>
        <a class="button_nav_right" href="{% url 'wiki:races' %}">Справочник</a>
        <a class="button_nav_right" href="{% url 'users:logout' %}">Выход</a>
    </div>
</body>
</html>